.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root img {
  height: 250px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___fighter-info {
  padding: 5px 30px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin-top: 20px;
  color: #f8f9f4;
  font-weight: bold;
  border: 5px solid #ebd759;;
}

.fighter-preview___fighter-info-text {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 18px;
  font-family: 'Arial Black';
  font-weight: 700;
}